#addtv-container{
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

#addtv-content{
    position: relative;
    background-color: var(--td-bg);
    width: 30%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}