#tvs-container{
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#tvs-container-vazio{
    background: #000000; 
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#tvs-mensagem-vazia{
    color: #ffffff;
}

.tvs-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tvs-video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}