#userlist-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    z-index: 1;
}

#userlist-main-container{
    width: calc(115vw - 1em);
    
    display: flex;
    flex-direction: column;
}

#userlist-menu-main{
    background-color: var(--blue-bg);
    height: auto;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}