.login-page{
    min-height: 100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
        linear-gradient(
            135deg,
            var(--bg1) 0%,
            var(--bg2) 100%
        );

    position:relative;
    overflow:hidden;
}

.login-card{

    width: 100%;
    max-width: 600px;

    max-height: 80vh;

    padding: 60px;

    border-radius: 30px;

    background: var(--blue-bg);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 20px 50px rgba(0,0,0,.35);

    z-index: 2;
}

.login-logo{
    width: 320px;
    display:block;
    margin: 0 auto;
}

.login-title{
    color: var(--text);
    font-size:1.5rem;
    margin-bottom:10px;
}

.login-subtitle{
    color: var(--sub-text);
    font-size:1rem;
    margin-bottom:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:14px;
}

.input-group label{
    color: var(--text);
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    font-weight:600;
    align-self: flex-start;
    display: flex;
    gap: 0.5em;
}

.input-group input{
    height:45px;
    

    border-radius:12px;
    border:2px solid var(--login-btn);

    background: rgba(255,255,255,0.05);
    color: var(--text);

    padding:0 20px;

    font-size:1rem;

    transition:0.2s;
}

.input-group input:focus{
    outline:none;
    border-color: var(--login-btn);
    

    box-shadow:
        0 0 0 2px var(--login-btn);
}

.input-group input::placeholder{
    color: var(--sub-text);
}

.forgot-password{

    display:block;

    text-align:right;

    margin-bottom:30px;

    color:var(--login-btn);

    text-decoration:none;
}

.login-button{

    width:100%;
    height:55px;

    border:none;

    border-radius:14px;

    background:var(--login-btn);

    color: var(--login-bg);

    font-size:1.4rem;
    font-weight:700;

    cursor:pointer;

    transition:.2s;
}

.login-button:hover{
    opacity: 0.5;
    box-shadow:
        0 10px 25px rgba(255,214,0,.3);
}

.register-area{

    margin-top:30px;

    text-align:center;

    color: var(--sub-text);
}

.register-area a{

    color:var(--login-btn);

    margin-left:8px;

    text-decoration:none;

    font-weight:600;
}

.bb-decoration{
    position:absolute;
}

.bb-top{
    

    width:100px;
    height:100px;

    left:25px;
    top:25px;
}

.bb-left{
    width:350px;
    height:350px;

    left:-150px;
    bottom:90px;

    /* border:2px solid rgba(255,214,0,.5);
    transform:rotate(45deg); */
}

.bb-right{
    width:550px;
    height:550px;

    right:-200px;
    bottom:-50px;

    /* border:2px solid rgba(255,214,0,.5);
    transform:rotate(45deg); */
}

.bb-bottom{
    width:600px;
    height:600px;

    right:-100px;
    bottom:-100px;
}

.bb-bottom img{
    width: 100%;
    height: 100%;
}





/** codigo antigo*/
.background{
    background-color: var(--login-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#header-inicial{
    background-color: #ffcc00;
    width: 100vw;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1;
}

#header-img{
    height: 100%;
    margin: 20px;
}

.login-fieldset{
    border-radius: 10px;
    border: 1px solid var(--text);
    color: var(--text);
    width: 30vw;
    margin: 20px 0px;
    padding: 10px;
}

.login-input:-webkit-autofill{
    /*cor do background do campo*/
    -webkit-box-shadow: 0 0 0 30px #fbfab2 inset !important;

    /*cor do texto do campo*/
    -webkit-text-fill-color: #000000 !important;
}

.login-legend{
    padding: 0px 7px 0px 7px;
    margin-right: auto;
}

.login-input{
    border: none;
    font-size: 17px;
    width: 100%;
    margin: auto;
    background-color: var(--td-bg);
    color: var(--text);
    padding-left: 7px;
}

.login-input:focus-visible{
    border: none;
    outline: none;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--td-bg);

    
    width: 100%;
    max-width: 600px;

    padding: 2em;

    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 30px;

    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);

    z-index: 5;
}

#login-titulo{
    color: var(--text);
    font-size: 20px;
}

#box-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: auto;
}


.login-link{
    display: block;
    text-align: end;
    font-size: 1em;
    width: 100%;
    color: var(--link-color);
}

.button-enviar{
    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-color: var(--action-bg);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button-enviar:hover{
    background-color: var(--hover-action-bg);
    color: #ffffff;
}

#login-box-imagem{
    display: block;
    background: #242424 url("../../assets/predios.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 80%;
    border-radius: 0px 30px 30px 0px;
}