#home-container{
    display: flex;
    flex-direction: row;

    z-index: 1;
}

#home-main-container{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#home-menu-main{
    background-color: var(--blue-bg);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

table{
    background-color: var(--table-bg);
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
}

th{
    background-color: var(--th-bg);
    color: #ffffff;
    padding: 12px 15px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--table-border);
}

.left-table{
    border-radius: 15px 0 0 0;
}

.right-table{
    border-radius: 0 15px 0 0;
}

td{
    background-color: var(--td-bg);
    padding: 12px 15px;
    width: 7%;
    border-bottom: 1px solid var(--table-border);
}

/* td:nth-child(2){
    width: 25%;
}
td:nth-child(5){
    width: 15%;
} */

.table-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    margin-top: 40px;
}

.action-button{
    background-color: var(--action-bg);
    border: none;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.second-action-button{
    background-color: transparent;
    border: 3px solid var(--text);
    color: var(--text);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.action-button:hover{
    background-color: var(--hover-action-bg);
    color: #ffffff;
}

.second-action-button:hover{
    background-color: var(--hover-action-bg);
    border-color: var(--hover-action-bg);
    color: #ffffff;
}

.bi-arrow-bar-up{
    font-size: 20px;
    margin-right: 8px;
}

.status{
    font-size: 0.7em;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.status-ativa    {background: transparent; color: #16ee48; border: 3px solid #16ee48; border-radius: 12px;}
.status-removida {background: transparent; color: #ff0019; border: 3px solid #ff0019; border-radius: 12px;}
.status-expirada {background: transparent; color: #ffbf00; border: 3px solid #ffbf00; border-radius: 12px;}
.status-agendada {background: transparent; color: #00ddff; border: 3px solid #00ddff; border-radius: 12px;}