#reports-menu-main{
    background-color: var(--blue-bg);
    height: auto;
    min-height: 450vh;
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    gap: 2em;
}

.reports-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: 100%;
    height: auto;
    max-height: 27em;

    gap: 20px;
   
}

#media-types{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0em;
    width: 100%;
}

#media-historico{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-height: 5em;
    gap: 2em;
    border-radius: 10px;

}

.reports-cards-graficos{
    display: flex;
    flex-direction: column;
    
    gap: 2em;
    
    width: 50%;
    height: auto;
    min-height: 100%;
}

.reports-cards{
    background-color: var(--td-bg);
    border: 1px solid var(--table-bg);

    border-radius: 15px;
    padding: 1em 1em;

    display: flex;
    flex-direction: column;
    
    
    width: 90%;
    height: auto;
    max-height: fit-content;
}

.reports-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;

    
    width: 100%;
    height: 15em;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

#donut-container{
    position: relative;
}

.donut-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.donut-center h1{
    color: var(--text);
    font-size: 2.5em;
}

.donut-center p{
    color: var(--text);
}

#donut-legend{
    display: flex;
    gap: 0.5em;
}

.donut-legend-item{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right: 1em;
}

.donut-legend-color{
    background-color: red;
    width: 1em;
    height: 1em;
    display: block;
    
}

.donut-legend-text{
    font-size: 15px;
}

#axis-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

}

#bar-legend{
    display: flex;
    gap: 0.5em;
}

.bar-legend-item{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right: 1em;
}

.bar-legend-color{
    background-color: red;
    width: 1em;
    height: 1em;
    display: block;
    
}

.bar-legend-text{
    font-size: 12px;
}

#card-reports-historico{
    background-color: var(--td-bg);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 98%;
    height: auto;
    border-radius: 10px;
    padding: 0.5em 1em;
}


#card-reports-historico p{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--login-btn);
    margin-bottom: 0.2em;
}

#card-reports-historico small{
    font-size: 0.8em;
    color: var(--sub-text);
    margin-bottom: 1em;
}

#card-reports-historico label{
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 0.5em;
    color: var(--login-btn);
}

#card-reports-historico fieldset{
    border: none;
    align-self: stretch;
    padding: 0;
    margin-bottom: 0.7em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#card-reports-historico input{
    border: 2px solid var(--login-btn);
    border-radius: 7px;
    background-color: transparent;
    color: var(--text);
    outline: none;
    width: 90%;
    height: 2.5em;
    padding: 0 0.5em;
    display: flex;
    align-self: start;
    font-size: 0.9em;
}

#card-reports-historico input::placeholder{
    color: var(--sub-text);
}

#card-reports-historico input:focus{
    border: 1px solid var(--login-btn);
    box-shadow: 0 0 0 2px var(--login-btn);
}

#card-reports-historico select{
    border: 2px solid var(--login-btn);
    border-radius: 7px;
    background-color: transparent;
    color: var(--text);
    outline: none;
    width: 93%;
    height: 2.5em;
    padding: 0 0.5em;
    display: flex;
    align-self: start;
    font-size: 0.9em;
}

#card-reports-historico select:focus{
    border: 1px solid var(--login-btn);
    box-shadow: 0 0 0 2px var(--login-btn);
}

#card-reports-historico select option{
    background-color: var(--td-bg);
    color: var(--text);
}