#detail-container{
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

#detail-content{
    position: relative;
    background-color: var(--td-bg);
    width: 40%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#detail-titulo{
    text-align: center;
    margin: 50px 0;
}

.bi-eye{
    font-size: 1rem;
}