:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


:root[data-theme = "light"]{
  --text: #1f2328;
  --sub-text: #5b5b5b;
  --text-hover: #deecff;
  --bg: #ffdd00;
  --header-bg: #ffcc00;
  --aside-bg: #ffffff;
  --blue-bg: #eceef0;
  --table-border: #6d8bbc;
  --code-bg: #e8edf5;
  --th-bg: #0c51be;
  --table-bg: #dbe6fb;
  --td-bg: #f9f9f9;
  --social-bg: rgba(0, 0, 0, 0.05);
  --action-bg: #075feb;
  --hover-action-bg: #073783;
  --close-btn: #F44336;
  --login-bg: #f1d104;
  --link-color: #06B8F3;
  --status-inativa: #717171;
  --status-inativa-bg: #6666664b;
  --resumo-bg: #e2e2f1;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --calendar-icon-filter: invert(1);
  }

:root[data-theme = "dark"]{
  --text: #e8e9ea;
  --sub-text: #aeaeae;
  --text-hover: #a9b1c0;
  --bg: #16171d;
  --header-bg: #354b8e;
  --aside-bg: #16171d;
  --blue-bg: #071745;
  --table-border: #6d8bbc;
  --code-bg: #1f2028;
  --th-bg: #0c51be;
  --table-bg: #5488dc;
  --td-bg: #1a3257;
  --social-bg: rgba(47, 48, 58, 0.5);
  --action-bg: #075feb;
  --hover-action-bg: #073783;
  --close-btn: #F44336;
  --login-bg: #020d5d;
  --link-color: #CCEC00;
  --status-inativa: #878787;
  --status-inativa-bg: #33333392;
  --resumo-bg: #052457;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  --calendar-icon-filter: invert(0);
  }

body {
  margin: 0;
}