#header-menu{
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--text);
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px 0 0;
}

#component-header-img{
    width: 50%;
}

#component-header-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

#component-header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}