#aside-menu-container{
    width: 15%;
    display: flex;
    flex-direction: column;
    
    left: 0;
    top: 0;

    height: auto;
}

#aside-header{
    background-color: var(--bg);
    height: 10vh;
    border-bottom: 1px solid var(--text);
}

#aside-main{
    background-color: var(--aside-bg);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.menu-buttons{
    width: 90%;
    height: 42px;
    border: none;
    border-radius: 10px;
    gap: 1.5em;

    font-weight: bold;
    font-size: 15px;

    cursor: pointer;
    display: flex;
    align-items: center;
    
    background-color: transparent;
    color: var(--text);
    transition: background-color 0.2s ease;
}

.menu-buttons:hover{
    background-color: var(--hover-action-bg);
}


.menu-active {
    background-color: var(--action-bg);
    color: white;
}

.menu-active:hover {
    background-color: var(--hover-action-bg);
}
.menu-active:hover .aside-bi{
    color: white;
}

.menu-active .aside-bi{
    color: white;
}

.menu-inactive {
    opacity: 0.9;
}

.menu-inactive:hover {
    opacity: 1;
    background-color: var(--action-bg);
    color: white;
}

.menu-inactive:hover .aside-bi{
    opacity: 1;
    color: white;
}


#aside-teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    opacity: 0.5;

    border: dotted
}

.aside-teste-button{
    width: 70%;

    color: var(--text);
    border: solid 1px var(--text);
    background-color: transparent;

    cursor: pointer;
}

.aside-bi{
    color: var(--text);
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
}

.nav-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav-group-title{
    margin-left: 10px;
    font-size: 0.85em;
    font-weight: 500;
}