#aside-menu-container{
    width: 15%;
    display: flex;
    flex-direction: column;

    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#aside-header{
    background-color: var(--bg);
    height: 10vh;
}
#aside-main{
    background-color: var(--bg);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-buttons{
    width: 80%;
    height: 35px;
    background-color: var(--action-bg);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.menu-buttons:hover{
    background-color: var(--hover-action-bg);
}

#aside-teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

    border: dashed
}

.aside-teste-button{
    width: 70%;

    color: var(--text);
    border: solid 1px var(--text);
    background-color: transparent;

    cursor: pointer;
}